body{
    overflow-x: hidden;
}
#top{
    position: absolute;
left:0;
}
.img{
    position: absolute;
    left:0;
    width: auto;
}
.text{
    width: 30%;
    right:0;
    position: absolute;
    font-size: 1rem;
}